.image-bg-header {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url("https://upload-images.jianshu.io/upload_images/2448819-71e194f9c7aa0db9.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/650") no-repeat center center scroll;
    height: 300px;
}
.header-text {
    color: white;
    text-shadow: 0 0 12px #000000;
}
